html {
    height: 100%;
    width: 100%;
}

body {
    background-color: brown;
}

h1 {
    color:white;
    font-family: "Brush Script MT", cursive;
    font-size: 70px
}

a{
    color:whitesmoke;
    text-decoration:underline;
}

a:hover{
    color:crimson;
    text-decoration:line-through
}