html {
    height: 100%;
    width: 100%;
}
/* this changes the background */
body {
    background-color: brown;
}

h1 {
    color:white;
    font-family: "Brush Script MT", cursive;
    font-size: 70px
}

p {
    color:white;
    font-family: Garamond, serif;
}

h2 {
    color: white
}
/* changes the links */
a{
    color:whitesmoke;
    text-decoration:underline;
}
/* changes the link when you hover */
a:hover{
    color:crimson;
    text-decoration:line-through
}